<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/favicon.png">
  <link rel="stylesheet" href="/style.css">
  {{ block "head" . }}{{ end }}
</head>
<body>
  {{ partial "header" (dict "Title" "ryan." "Pages" .Site.Sections) }}
  <div class="page">
    {{ block "body" . }}{{ end }}
  </div>
  {{ partial "footer" . }}
  <!-- <script src="/bundle.js"></script> -->
</body>
</html>